<h1><%= @user.username %></h1>

<ul>
<% @playlists.each do |pl| %>
	<li><%= link_to pl.playlist_name, pl %>&#160;&#160;&#160;<%= link_to "edit", edit_playlist_path(pl) %></li>
<% end %>
</ul>

<%= link_to "New Playlist", new_playlist_path %>