// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//list classes

.show_bookmark {
	height:30px;
	border-style:solid;
	border-color:#5588FF;
	border-radius:4px;
	border-width:1px;
	margin:3px
}

.edit_bookmark_button {
	margin:5px;
	float: right;
}
//detail classes
#detail_bookmark_view {
	margin:10px;
	border:4px;
}

#detail_bookmark_view_container{
	height:100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.detail_container_color{
	background:#A6FFAD;
}

.detail_bookmark{
	display:none;
}

//detail action classes
.show_bookmark_detail, .edit_bookmark_fields, .watch_bookmark, .move_bookmark {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #86DF8D;
  border: 1px solid #96EF9D;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.show_bookmark_detail {
}

.edit_bookmark_fields {
	display:none;
	label {
		display:inline;
	}
	input {
		position:relative;
		left: 20px;
	}
}

.watch_bookmark {
	display:none;
}

.move_bookmark {
	display:none;
}


//action buttons

.edit_link, .collapse_link, .move_link, .remove_link {
	float:right;
	margin: 10px;
	//border-radius:10px;
}

.save_link, .revert_link{
	float:right;
	display:none;
	margin: 10px;
}

//playlist list

.playlist_link_indent {
	float:right;
}

.playlist_link {
	width:480px;
}

#linkDrop {
	display:box;
	width:500px;
	height:300px;
	background:#FFC4A0;
	border-radius:10px;
	border-width:0px;
}













