// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.show_bookmark {
	height:30px;
	border-style:solid;
	border-color:#5588FF;
	border-radius:4px;
	border-width:1px;
	margin:3px
}
.edit_bookmark_button {
	float:right;
}
.show_bookmark_button {
	float:right;
}
.edit_bookmark{
	display:none;
	fieldset {
		background:#A6FFAD;
	}
}

#add_bookmark_html {
}

#add_bookmark_js {
	display:none;
}

