$bookmarklet(function (){
	var newSS, styles='#bookmarklet * {margin:4px;} #bookmarklet {background: #A6FFAD;font-size:10px;border-radius: 10px;border: 1px solid;width: 300px;top: 5px;right: 30%;position:fixed;z-index:999998;} #bookmarklet  .floatright {float:right;}';
	if(document.createStyleSheet) { 
		document.createStyleSheet("javascript:'"+styles+"'");
	}
	else {
		newSS=document.createElement('link'); 
		newSS.rel='stylesheet';
		newSS.href='data:text/css,'+escape(styles);
		document.getElementsByTagName("head")[0].appendChild(newSS);
	}
	$bookmarklet('body').append('<div id="bookmarklet"><div>');
	$bookmarklet('#bookmarklet').html("<%=j render 'bookmarklet_content' %>");
	$bookmarklet('#bookmarklet').on('click', 'a.submit_link', function(){
		var postData = $bookmarklet('#bookmarklet form').serialize();
		$bookmarklet.ajax({
			url: $bookmarklet('#bookmarklet form').attr('action'),
			type: 'POST',
			data: postData,
			dataType:'json',
			success: function(data, textStatus, xhr){
				$bookmarklet('#bookmarklet table').html("<h2>Success</h2>");
				$bookmarklet('#bookmarklet .submit_link').remove();
				$bookmarklet('#bookmarklet').children().last().prev().remove();
			},
			beforeSend: function(xhr, settings){
				xhr.setRequestHeader('X-CSRF-Token', $bookmarklet('#bookmarklet meta[name="csrf-token"]').attr('content'));
			},
			crossDomain: true,
		});
	});
	$bookmarklet('#bookmarklet').on('click', 'a.floatright', function(){
		$bookmarklet(this).parents('#bookmarklet').remove();
	});
});